.nav{
    margin-right: 5px;
    margin-left: 5px;
   
}
 
.nav.active{
    color: red;
    text-decoration: underline;
}

.navbar {
    background: rgba(21, 21, 21, 0.50);
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    z-index: 99;
}
.navbar.scrolled {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
    color: black;

}
